<div class="container" class="text-center">
  <h1>Ask a question to your coach</h1>
  <form action="/answer" method="get" class="text-center">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="question_type" placeholder="what time is it?">
    <input type="submit" class="btn btn-primary" value="Go on!">
  </form>
</div>
